<a href="https://colab.research.google.com/github/fralfaro/DS-R-Course/blob/main/docs/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nomenclatura

## Hola mundo!


Para imprimir "Hola mundo" en R, puedes utilizar la función print() o simplemente escribir el texto entre comillas y presionar Enter. Aquí tienes dos formas de hacerlo:

In [1]:
print("Hola mundo")

[1] "Hola mundo"

> **Nota**:  Recuerda que en R, puedes utilizar las funciones `print()` o `cat()` para imprimir los resultados en la consola.

## Tipos de Variables


En R, existen varios tipos de variables que puedes utilizar para almacenar diferentes tipos de datos. Aquí hay algunos de los tipos de variables más comunes en R:

1.- `Numeric`: Las variables de tipo "numeric" almacenan valores numéricos, ya sean enteros o números de punto flotante (decimales). Puedes identificar una variable como numérica si sus valores son números. Por ejemplo:

In [2]:
# Variables numéricas
edad <- 25
pi <- 3.14159

cat("Edad:", edad, "\n")
cat("Valor de pi:", pi, "\n\n")

Edad: 25
Valor de pi: 3.14159


2.- `Integer`: Las variables de tipo "integer" almacenan números enteros. A diferencia de las variables "numeric", las variables "integer" solo pueden almacenar números enteros sin decimales. Para identificar una variable como entera, puedes utilizar la función is.integer(). Por ejemplo:

In [3]:
# Variables enteras
numero_entero <- 10L
is_integer_result <- is.integer(numero_entero)

cat("Número entero:", numero_entero, "\n")
cat("¿Es entero? ", is_integer_result, "\n\n")

Número entero: 10
¿Es entero?  TRUE


3.- `Character`: Las variables de tipo "character" almacenan cadenas de texto. Puedes identificar una variable como de tipo "character" si los valores están entre comillas (simples o dobles). Por ejemplo:

In [4]:
# Variables de caracteres
nombre <- "Juan"
mensaje <- 'Hola, ¿cómo estás?'

cat("Nombre:", nombre, "\n")
cat("Mensaje:", mensaje, "\n\n")

Nombre: Juan
Mensaje: Hola, ¿cómo estás?


4.- `Logical`: Las variables de tipo "logical" almacenan valores lógicos, es decir, valores booleanos que pueden ser TRUE (verdadero) o FALSE (falso). Puedes identificar una variable como de tipo "logical" si sus valores son TRUE o FALSE. Por ejemplo:

In [5]:
# Variables lógicas
es_mayor_de_edad <- TRUE
es_estudiante <- FALSE

cat("¿Es mayor de edad?:", es_mayor_de_edad, "\n")
cat("¿Es estudiante?:", es_estudiante, "\n\n")

¿Es mayor de edad?: TRUE
¿Es estudiante?: FALSE



Puedes utilizar funciones como `class()` y `typeof()` para obtener información sobre el tipo de una variable en R. Por ejemplo:

In [6]:
# Obtener información sobre el tipo de variable
x <- 10
class_result <- class(x)
typeof_result <- typeof(x)

cat("Clase de la variable x:", class_result, "\n")
cat("Tipo subyacente de la variable x:", typeof_result, "\n")

Clase de la variable x: numeric
Tipo subyacente de la variable x: double


Recuerda que en R, las variables son flexibles y pueden cambiar de tipo según los valores que les asignes. También puedes convertir una variable de un tipo a otro utilizando funciones específicas, como `as.numeric()`, `as.character()`, `as.logical()`, etc.

## Operaciones Básicas

En R, puedes realizar una variedad de operaciones básicas con diferentes tipos de datos. Aquí tienes ejemplos de algunas operaciones comunes:

1.- **Operaciones aritméticas básicas**:

In [7]:
x <- 5
y <- 3

suma <- x + y
resta <- x - y
multiplicacion <- x * y
division <- x / y
exponenciacion <- x^y

cat("Resultado de la suma:", suma, "\n")
cat("Resultado de la resta:", resta, "\n")
cat("Resultado de la multiplicación:", multiplicacion, "\n")
cat("Resultado de la división:", division, "\n")
cat("Resultado de la exponenciación:", exponenciacion, "\n")

Resultado de la suma: 8
Resultado de la resta: 2
Resultado de la multiplicación: 15
Resultado de la división: 1.666667
Resultado de la exponenciación: 125

2.- **Operaciones de comparación**:

**Igualdad**: Utiliza el operador "==" para comprobar si dos valores son iguales.

In [8]:
5 == 3  # Resultado: FALSE

[1] FALSE


**Desigualdad**: Utiliza el operador "!=" para comprobar si dos valores son diferentes.

In [9]:
5 != 3  # Resultado: TRUE

[1] TRUE


**Mayor que, menor que**: Utiliza los operadores ">" y "<" para comparar si un valor es mayor o menor que otro.

In [10]:
5 > 3  # Resultado: TRUE
5 < 3  # Resultado: FALSE

[1] TRUE

[1] FALSE


**Mayor o igual que, menor o igual que**: Utiliza los operadores ">=" y "<=" para comparar si un valor es mayor o igual que otro, o menor o igual que otro.

In [11]:
5 >= 3  # Resultado: TRUE
5 <= 3  # Resultado: FALSE

[1] TRUE

[1] FALSE

3.- **Operaciones lógicas**:

**Y lógico**: Utiliza el operador "&" para comprobar si dos condiciones son verdaderas.

In [12]:
(5 > 3) & (2 < 4)  # Resultado: TRUE

[1] TRUE

## Estructuras de Datos

R proporciona varias estructuras de datos para almacenar y manipular datos. Algunas de las principales estructuras de datos en R son las siguientes:

1.- **Vector**: Un vector es una secuencia ordenada de elementos del mismo tipo. Puede ser de tipo numérico, entero, caracter, lógico, etc. Los elementos se pueden acceder utilizando índices.

In [13]:
vector_numerico <- c(1, 2, 3, 4, 5)
vector_caracteres <- c("a", "b", "c", "d")


2.- **Matriz**: Una matriz es una estructura bidimensional de elementos del mismo tipo. Se puede pensar como una tabla con filas y columnas, donde todos los elementos son del mismo tipo.

In [14]:
matriz <- matrix(c(1, 2, 3, 4, 5, 6), nrow = 2, ncol = 3)


3.- **DataFrame**: Un DataFrame es similar a una matriz, pero las columnas pueden tener diferentes tipos de datos. Se utiliza comúnmente para almacenar datos tabulares, donde cada columna representa una variable y cada fila representa una observación.

In [15]:
data_frame <- data.frame(nombre = c("Juan", "María", "Carlos"),
                         edad = c(25, 30, 35),
                         sexo = c("M", "F", "M"))


4.- **Lista**: Una lista es una colección ordenada de elementos que pueden ser de diferentes tipos. Cada elemento de la lista se puede acceder utilizando su nombre o índice.

In [16]:
lista <- list(nombre = "Juan", edad = 25, sexo = "M")


5.- **Factor**: Un factor se utiliza para representar variables categóricas o de factores. Es una estructura especializada que toma valores de un conjunto fijo de niveles.

In [17]:
genero <- factor(c("M", "F", "M", "F"))

## Control de Flujo

En R, el control de flujo se refiere a la capacidad de dirigir el flujo de ejecución del código en función de condiciones y estructuras lógicas. Aquí tienes algunas de las principales estructuras de control de flujo en R:

1.- **Estructura if-else**: Esta estructura permite ejecutar diferentes bloques de código según una condición.

```R
if (condicion) {
  # código a ejecutar si la condición es verdadera
} else {
  # código a ejecutar si la condición es falsa
}
```

Por ejemplo:

In [18]:
x <- 5
if (x > 0) {
  print("x es positivo")
} else {
  print("x es negativo o cero")
}

[1] "x es positivo"


2.- **Estructura for**: Se utiliza para iterar sobre una secuencia de valores o elementos de una estructura de datos.


```R
for (variable in secuencia) {
  # código a ejecutar en cada iteración
}
```

Por ejemplo:

In [19]:
for (i in 1:5) {
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5


3.- **Estructura while**: Se utiliza para repetir un bloque de código mientras una condición sea verdadera.


```R
while (condicion) {
  # código a ejecutar mientras la condición sea verdadera
}
```

Por ejemplo:

In [20]:
x <- 1
while (x <= 5) {
  print(x)
  x <- x + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5


4.- **Estructura repeat**: Se utiliza para crear un bucle infinito que se rompe cuando se cumple una condición específica.


```R
repeat {
  # código a ejecutar en cada iteración
  if (condicion) {
    break  # rompe el bucle
  }
}
```

Por ejemplo:

In [21]:
x <- 1
repeat {
  print(x)
  x <- x + 1
  if (x > 5) {
    break
  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## Funciones

En R, puedes definir y utilizar funciones para encapsular un conjunto de instrucciones y realizar tareas específicas. Aquí tienes los fundamentos de cómo crear y usar funciones en R:

1.- **Definir una función**: Para definir una función en R, utiliza la palabra clave function seguida de los parámetros entre paréntesis y las instrucciones entre llaves. Puedes utilizar el operador de asignación <- para asignar la función a un nombre.



```R
nombre_funcion <- function(parametro1, parametro2, ...) {
  # código de la función
  # return(resultado)  # opcional, si deseas devolver un resultado
}
```

**Llamar a una función**: Para llamar a una función, simplemente escribe el nombre de la función seguido de los argumentos entre paréntesis.


```R
nombre_funcion(argumento1, argumento2, ...)
```


Ejemplo de una función simple:

In [22]:
# Definir la función
sumar <- function(a, b) {
  resultado <- a + b
  return(resultado)
}

# Llamar a la función
resultado_suma <- sumar(3, 5)
print(resultado_suma)  # Imprime: 8

[1] 8


2.- **Parámetros predeterminados**: Puedes asignar valores predeterminados a los parámetros de una función. Esto permite que los argumentos sean opcionales cuando se llama a la función.

In [23]:
saludar <- function(nombre = "Amigo") {
  mensaje <- paste("Hola", nombre)
  print(mensaje)
}

saludar()  # Imprime: "Hola Amigo"
saludar("Juan")  # Imprime: "Hola Juan"

[1] "Hola Amigo"
[1] "Hola Juan"


3.- **Argumentos nombrados**: Puedes llamar a una función utilizando argumentos nombrados en lugar de posición. Esto proporciona más flexibilidad al especificar los valores de los argumentos.

In [24]:
multiplicar <- function(a, b) {
  resultado <- a * b
  print(resultado)
}

multiplicar(b = 4, a = 2)  # Imprime: 8

[1] 8


4.- **Funciones con múltiples resultados**: Una función en R puede devolver múltiples valores utilizando la función list() para agruparlos.

In [25]:
calcular_estadisticas <- function(datos) {
  media <- mean(datos)
  mediana <- median(datos)
  varianza <- var(datos)
  resultados <- list(media = media, mediana = mediana, varianza = varianza)
  return(resultados)
}

resultados <- calcular_estadisticas(c(1, 2, 3, 4, 5))
print(resultados$media)  # Imprime: 3
print(resultados$mediana)  # Imprime: 3
print(resultados$varianza)  # Imprime: 2.5

[1] 3
[1] 3
[1] 2.5